#partida {
    width: 50%;
    float: left;
}

#destino {
    width: 50%;
    float: left;
    text-align: center;
}

#label2 {
    text-align: end;
    text-justify: inter-word;
}


.name {
    margin-top: 0.5rem;
    text-align: start;
    text-justify: inter-word;
}

.valor {
    width: 50%;
    margin-top: 0.5rem;
    text-align: end;
    text-justify: inter-word;
    color: #5260ff;
}

#map {
    border-radius: 20px;
}

.pagamento {

    text-align: center;
}

.copiar {
    float: right;
    margin: -1.9%;
    /* Isso alinhará o título à direita, empurrando-o para o lado direito */
}

#pix {
    fill: #2dc7d2
}
#money {
    fill: #46f781
}
.container{
    font-family: 'Times New Roman';
}