#cadastro{
    margin-top: 1rem;
    margin-inline: 30%;
    font-family: 'Arial Narrow Bold'; 
}
#content{
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
ion-checkbox {
    --size: 1.5rem;
    --checkbox-background-checked: #5260ff;
}
  
ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #5260ff;
}
#open-stacked-toast{
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Lucida Sans Unicode'; 
}
#conta{
    margin-top: 5rem;
    margin-inline: 30%;
    font-family: 'Arial Narrow Bold'; 
}
#logo{
    padding-top: 3%;
    padding-left: 35%;
    padding-right: 35%;
}
