#content{
    margin: 9rem;
}
#voltar{
    float: right;
    font-family: 'Arial Narrow Bold'; 
}
.ion-title-custom {
    margin-left: auto; /* Isso alinhará o título à direita, empurrando-o para o lado direito */
}
.label{
    padding-left: 1rem;
    padding-right: 1rem;
}