<ion-content [fullscreen]="true">

  <div style="display:flex;justify-content:center;margin-top: 8rem;">
    <ion-img
      src="\assets\carrorooo (1).png" alt="logo" id="logo">
    </ion-img>
  </div>
  

  <ion-alert
    [isOpen]="is_open_error_alert"
    header="Ops!"
    message="Login e/ou Senha não conferem."
    [buttons]="['fechar']"
  ></ion-alert>

  <div id="content">


    <ion-input 
      type="email"
      fill="clear"
      label="Email"
      labelPlacement="floating"
      errorText="Formato de email inválido"
      placeholder="Digite o email"
      [(ngModel)]="email"
    ></ion-input>

    <ion-input
      type="password"
      id="custom-input"
      label="Senha"
      labelPlacement="floating"
      placeholder="Digite a senha"
      [counter]="true"
      maxlength="20"
      [counterFormatter]="customCounterFormatter"
      [(ngModel)]="senha"
    ></ion-input>
    
  </div>
  
  <ion-button id="conta" fill="clear" expand="block" color="tertiary" (click)="cadastro()">Voltar</ion-button>
  <ion-button id="cadastro" expand="block" color="tertiary" (click)="logar()">Entrar</ion-button>
</ion-content>

