<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caronas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- (click)="navCarona()" -->
    <ion-item class="botao" fill="outline-tertiary" (click)="navCarona()" router-direction="forward" button detail lines="full" button>
      <ion-icon slot="start" color="tertiary" name="person"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="name">João Miguel</ion-col>
          <ion-col size="6" class="valor"><b>R$ 55,00</b></ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-icon name="star-outline"></ion-icon></ion-col>
          <ion-col><ion-icon name="star-outline"></ion-icon></ion-col>
          <ion-col><ion-icon name="star-outline"></ion-icon></ion-col>
          <ion-col><ion-icon name="star-outline"></ion-icon></ion-col>
          <ion-col><ion-icon name="star-outline"></ion-icon></ion-col>
          <ion-col size="7"></ion-col>
        </ion-row>
        <br>

        <div id="partida">
          <ion-label>
            Partida:
            17:50 <ion-icon name="alarm-outline" color="tertiary" class="relogio"></ion-icon><br>
            <p>Porto Alegre</p>
          </ion-label>
        </div>
        
        <div id="destino">
          
          <ion-label id="label2">
            <ion-icon name="alarm-outline" color="tertiary" class="relogio"></ion-icon>
             Destino: 20:00<br>
            <p>Criciúma</p>
          </ion-label>
        </div>

      </ion-grid>
    </ion-item>
  </div><br>
</ion-content>

